html {
  min-height: 100%;
  box-sizing: border-box;

  background-color: white;
  min-width: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.contenedor {
  width: 95%;
  margin: 0 auto;
}

/**
---------Navegacion---------
**/

.navbar-brand {
  padding-top: 0;
}
